.scrollComponent {
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.createPostContainer {
  display: flex;
  height: 10svh;
  width: 100%;
  padding-inline: 0.8rem;
 gap: 1.3rem;
 position: relative;
 align-items: center;
 background: rgb(240, 231, 231);
 border-radius: 20px;
}

.uploadButton {
  position: absolute;
  right: 0;
  bottom: -30px;
  background-color: rgb(105, 129, 248);
  color: white;
  border-radius: 10px;
  padding-inline: 1.2rem;
  padding-block: 0.2rem;
  cursor: pointer;
}

.userProfile {
   border-radius: 100%;
   height: 60%;
   width: fit-content;
   
}

.createPostContainer > textarea {
  width: 100%;
}

.fab {
  background-color: rgb(105, 129, 248);
  border-radius: 100%;
  justify-content: center;
  display: flex;
}

.fab > svg {
  width : fit-content;
  height: 20px;
  color: white;
}

.textAreaOfContent {
  width: 60%;
  height: 90%;
  border: 1px solid rgb(105, 129, 248);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 1.5rem;
  padding-block: 0.8rem;
  outline: none;
}


.wrappper {
  display: flex;
  gap: 1.3rem;
  flex-direction: column;
  max-width: 80%;
}

.singleCard {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid rgb(105, 129, 248);
}


.singleCard_profileContainer {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  padding: 1.2rem;
  padding-right: 3.4rem;
  
}
.singleCard_profileContainer > img {
  width: 10%;

  border-radius: 50%;
}


.singleCard_image {
  width: 90%;
  padding-top: 0.6rem;
  height: fit-content;
  overflow: hidden;
}

.userProfile {
   width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.singleCard_image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.optionsContainer {
  display:flex;
  height: 20%;
  width: 100%;
  justify-content: space-between;
  padding-block: 0.6rem;
}

.singleOption_optionContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  cursor: pointer;
}

.singleOption_optionContainer > svg {
   height: 100%;
  width: 10%;
  min-width: 1rem;
}



.commentsContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
}

.allCommentsContainer {
  /* width: 40vw; */
  min-width: 40svw;
  height: 80vh;
  max-width: 1120px;
  background: white;
  border-radius: 10px;
  position: relative;
  padding: 1.4rem;
}

.postCommentContainer {
  position: absolute;
  bottom: 1.2rem;
  left: 1.2rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.postCommentContainer > input {
   flex: 0.9;
   padding-inline: 1.5rem;
   padding-block: 1.2rem;
   border: none;
   outline: none;
   border-radius: 10px;
   background-color: rgb(228, 228, 228);
}

.postCommentContainer > input:focus {
   outline: 1px solid silver;
}

.postCommentContainer_commentBtn {
   flex: 0.1;
   width: fit-content;
   padding: 1.2rem;
   background: orange;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}



.singleComment_profileContainer {
  display: flex;
  align-items: center;
  gap: 0.8rem;
 

}

.singleComment_profileContainer > img {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  
}

@media screen and (max-width: 600px) {

  .allCommentsContainer {
    width: 100%;
   
   
  }

}






